.boardGame {
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    height: 100vh;
    background-color: rgb(51, 162, 155);
}

    .boardIA, .boardPlayer {
        align-items: center;
        justify-content: space-around;
        display: flex;
        width: 100%;
        height: 100px;
        background-color: red;
    }    

        .pvIA, .pvPlayer {
            width: 60px;
            height: 80px;
            background-color: blue;
        }

        .manaIA, .manaPlayer {
            width: 60px;
            height: 80px;
            background-color: green;
        }

        .containerPioche {
            height: 80px;
            width: 80px;
            background-color: rgb(170, 75, 183);
        }

        .containerCardsIA, .containerCardsPlayer {
            display: flex;
            justify-content: space-around;
            width: 600px;
            height: 80px;
            background-color: orange;
        }

        .cards {
            width: 12%;
            height: 70px;
            background-color: white;    
        }

    .battlefieldIA, .battlefieldPlayer {         
        width: 95%;
        height: 200px;
        margin:auto;       
        background-color: brown;
    }

        .endOfTurnIA, .endOfTurnPlayer {
            text-align: center;
            width: 60px;
            height: 60px;
            margin-top: 70px;
            margin-left: 15px;
            background-color: #fff;            
        }
