@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
    --home-color1 : #0cad93;
    --home-color2 : #0ac3a7;
    --hover: #0ca289;
    --font : 'Montserrat', sans-serif;
    --font-color : #fffdd8;
    --red : #d83a37;
    --or : #ffb400;
}

body {
    background-color: var(--home-color2);
    color: var(--font-color);
    font-family: var(--font);
    text-align: center;
}


/* ====== HEADER ====== */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--home-color1);
    font-weight: bold;
}

.header-nav {
    display: flex;
}

.header-link {
    display: inline-block;
    line-height: 3em;
    padding: 0.5em;
    margin: 0 0.5em;
    transition-duration: 200ms;
}

.header-link:hover {
    background-color: var(--hover);
}

.logo-oclock {
    width: 3em;
}

.signin {
    color: var(--font-color);
    font-weight: bold;
    background: none;
    border : 3px solid var(--font-color);
    cursor: pointer;
    padding: 1em;
    border-radius: 20px;
    transition-duration: 200ms;
}
.signin:hover {
    background-color: var(--hover);
}



/* ====== MAIN ====== */
main{
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    margin: 1em 0;
    font-size: 8em;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: var(--red);
}

.topContainer{
    font-size: 2em;
    line-height: 2em;
}

.text-link{
    font-weight: bold;
    text-decoration: underline;
}

.containerCard {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 15px;
}

.card {
    border: 1.5px solid var(--red);
    border-radius: 5px;
    width: 200px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--font-color);
    color: red;
    transition-duration: 200ms;
    margin: 20px 0px;
}


.cardSelected {
    background-color: var(--home-color1);
}

.scale {
    transform: scale(2);
    font-size: 0.8em;
}

.hidden {
    display: none;
}