<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jeu de carte</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <div class="boardGame">
      <div class="boardIA">
          <div class="manaIA">0/3</div>
          <div class="containerCardsIA">
              <div class="cards">Chevalier d'or</div>
              <div class="cards">Le mage de feu</div>
              <div class="cards">Whitney la brute</div>
              <div class="cards">Amaury le sage</div>
              <div class="cards">Francois Jedi</div>
              <div class="cards">Wiwi la mage sommeil</div>
            </div>
            <div class="containerPioche">Pioche</div>
            <div class="pvIA">100PV</div>
        </div>
      
      <div class="battlefieldIA">
        <div class="endOfTurnIA">Fin du tour</div> 
      </div>
      <div class="battlefieldPlayer">
        <div class="endOfTurnPlayer">Fin du tour</div>
           
      </div>

      <div class="boardPlayer">
        <div class="manaPlayer">0/3</div>
        <div class="containerCardsPlayer">
          <div class="cards">Chevalier d'or</div>
          <div class="cards">Le mage de feu</div>
          <div class="cards">Whitney la brute</div>
          <div class="cards">Amaury le sage</div>
          <div class="cards">Francois Jedi</div>
          <div class="cards">Wiwi la mage sommeil</div>
        </div>
        <div class="containerPioche">Pioche</div>
        <div class="pvPlayer">100PV</div>
      </div>
    </div>
  </body>

</html>
